/* reset */
/* main variables */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 62.5% !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none !important; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: "Roboto", sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #000;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto.eot");
  src: url("../fonts/Roboto/Roboto.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto.woff") format("woff"), url("../fonts/Roboto/Roboto.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Roboto/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoBold.woff") format("woff"), url("../fonts/Roboto/RobotoBold.ttf") format("truetype"); }

/* Generated by http://css.spritegen.com CSS Sprite Generator */
.spritehotell, .spritemount, .spritehot, .spriteplen, .spritehotel {
  display: inline-block;
  background: url("../img/sprite.png") no-repeat;
  /*overflow: hidden;
  text-indent: -9999px;
  text-align: left;*/ }

.spritehotell {
  background-position: -5px -0px;
  width: 82px;
  height: 77px; }

.spritemount {
  background-position: -5px -82px;
  width: 57px;
  height: 57px; }

.spritehot {
  background-position: -5px -144px;
  width: 53px;
  height: 57px; }

.spriteplen {
  background-position: -5px -206px;
  width: 53px;
  height: 48px; }

.spritehotel {
  background-position: -5px -259px;
  width: 44px;
  height: 41px; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.wrap__top {
  position: relative; }

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 9999; }

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.header__title {
  position: absolute;
  width: 350px;
  top: 130px;
  left: 0;
  z-index: 1; }
  .header__title h1 {
    letter-spacing: 1px; }
  .header__title p {
    font-size: 2.4rem;
    color: #fff;
    line-height: 1.4;
    letter-spacing: .6px;
    margin-top: 25px; }

.menu [type="checkbox"],
.menu label.toggle__submenu {
  display: none; }

.menu label.toggle__menu {
  display: none;
  padding: 28px 40px;
  cursor: pointer;
  position: relative; }

.menu label.toggle__menu .fa {
  position: absolute;
  top: 15px;
  right: 12px;
  font-size: 2.4rem; }

.toggle__menu {
  display: none; }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.menu__item {
  padding-left: 30px; }

.menu__link {
  display: block;
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 35px 0 25px; }
  .menu__link:hover {
    color: #fff; }
  .menu__link:active {
    color: #fff; }
  .menu__link:focus {
    color: #fff; }

.active {
  color: #fff; }

.panel {
  position: absolute;
  left: -90px;
  display: none;
  width: 816px;
  background-color: rgba(255, 255, 255, 0.55); }

.menu li {
  position: relative; }

.menu__item:hover > .panel {
  display: block;
  margin: 0; }

.menu li > ul li a {
  display: block;
  padding: 14px 10px;
  padding-left: 26px;
  color: #000;
  font-size: 1.8rem;
  letter-spacing: 1.05px;
  line-height: 18px; }
  .menu li > ul li a:hover {
    color: #fff; }

.menu a.active {
  color: #fff; }

.panel ul {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.panel li {
  margin-right: 1em; }

.panel li:hover > a {
  color: #416b83; }

.panel ul ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.has-children span {
  display: block;
  font-size: 2.2rem;
  margin-top: 10px;
  padding: 20px;
  color: #000; }

.panel .has-children > a {
  margin-bottom: 1em;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid; }

.list__children-2 {
  padding: 75px 15px 107px;
  border-left: 1px solid #4caf50;
  border-right: 1px solid #4caf50; }

.header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: rgba(27, 94, 32, 0.64); }

.book__room {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 15px 0 60px 0; }

.form {
  width: 100%; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  form input, form select {
    background-color: #fff;
    width: 100%;
    height: 47px;
    border: none;
    color: #757575;
    font-size: 1.4rem;
    padding: 16px; }

.ui-datepicker {
  font-size: 12pt !important; }

.my-data {
  position: relative; }

.bout img, .departure img {
  width: 21px;
  height: 22px;
  position: absolute;
  bottom: 28%;
  right: 12%; }

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer; }
  .form select:focus {
    outline: none; }

.form svg {
  position: absolute;
  bottom: 40%;
  right: 12%;
  width: 18px;
  height: 9px; }

.submit {
  background-color: #4caf50;
  color: #fff; }
  .submit:hover {
    border: 1px solid #fff; }

.sl .sl__slider {
  text-align: center;
  color: #fff; }

.sl .sl__img {
  width: 100%; }

.sl .slick-dots {
  z-index: 1; }

.sl .slick-dots li {
  margin: 0; }

.sl .slick-dots li button:before {
  color: #fff; }

.sliders {
  height: 788px;
  overflow: hidden; }

@media all and (max-width: 767px) {
  .header {
    background: #8db7db; }
  .menu {
    overflow: hidden;
    width: 100%; }
  .menu ul {
    display: block;
    -webkit-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s; }
  .menu__link {
    font-size: 2rem;
    line-height: 15px;
    letter-spacing: 0.64px;
    padding: 15px 0 15px; }
  .has-children span {
    font-size: 1.8rem;
    margin-top: 0;
    padding: 10px; }
  .menu li > ul li a {
    padding: 8px 5px;
    padding-left: 26px;
    font-size: 1.6rem;
    line-height: 16px; }
  .panel {
    left: 0;
    background-color: transparent; }
  .list__children-2 {
    padding: 0;
    border-left: none;
    border-right: none; }
  .menu .menu__list {
    max-height: 0; }
  .menu li > ul li ul {
    position: absolute;
    right: auto;
    top: auto; }
  .menu label.toggle__menu {
    display: block; }
  .menu__item:hover > .panel {
    display: none; }
  input.toggle__menu:checked ~ ul,
  input.toggle__submenu:checked ~ .panel {
    display: block;
    position: relative;
    max-height: 5000px;
    -webkit-transition: max-height 2s ease-in;
    -o-transition: max-height 2s ease-in;
    transition: max-height 2s ease-in;
    z-index: 9999; }
  .menu label.toggle__submenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block; }
  input.toggleMenu:checked + label.toggle__menu {
    color: #fff; }
  input.toggle__submenu:hover ~ a {
    color: #fff; }
  input.toggle__submenu:checked ~ a {
    color: #fff; }
  .menu label.toggle__submenu .fa:before {
    content: "\f0d7";
    color: #000;
    padding: 0; }
  .menu label.toggle__submenu .fa {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 20px; }
  .menu input.toggle__submenu:checked ~ label.toggle__submenu .fa::before {
    content: "\f0d8";
    color: #fff; } }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__title {
    top: 85px;
    width: 100%; }
    .header__title h1 {
      font-size: 2rem;
      text-align: center;
      line-height: 25px;
      width: auto; }
    .header__title p {
      display: none; }
  .header__bottom {
    background-color: transparent;
    height: 50%;
    top: 33%; }
  .book__room {
    height: 100%; }
  .form__title h3 {
    text-align: center; }
  form input, form select {
    margin-bottom: 20px; }
  .bout img, .departure img {
    bottom: 50%; }
  .form svg {
    bottom: 58%; }
  .submit {
    border: 1px solid #fff; }
  .sliders {
    background-color: #4caf50; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__title {
    top: 150px;
    width: 100%; }
    .header__title h1 {
      font-size: 3rem;
      text-align: center;
      line-height: 25px;
      width: auto; }
    .header__title p {
      display: none; }
  .header__bottom {
    background-color: transparent;
    height: 50%;
    top: 45%; }
  .book__room {
    height: 100%; }
  .form__title h3 {
    text-align: center; }
  form input, form select {
    margin-bottom: 20px; }
  .bout img, .departure img {
    bottom: 50%; }
  .form svg {
    bottom: 58%; }
  .submit {
    border: 1px solid #fff; }
  .sliders {
    background-color: #4caf50;
    height: 970px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__title {
    left: 50px; }
  .menu__item {
    padding-left: 15px; }
    .menu__item a {
      font-size: 2rem; }
  .header__bottom {
    height: auto; }
  .has-children span {
    font-size: 1.8rem; }
  .menu li > ul li a {
    font-size: 1.6rem;
    padding: 10px 10px; }
  .panel {
    left: -220px;
    width: 730px; }
  form input, form select {
    margin-bottom: 20px; }
  .bout img, .departure img {
    bottom: 50%; }
  .form svg {
    bottom: 58%; }
  .book__room {
    height: 100%; }
  .sliders {
    height: 880px; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header__title {
    left: 50px; }
  .header__bottom {
    height: auto; }
  form input, form select {
    margin-bottom: 20px; }
  .bout img, .departure img {
    bottom: 50%; }
  .form svg {
    bottom: 58%; }
  .book__room {
    height: 100%; }
  .sliders {
    height: 900px; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
  position: relative;
  height: 435px;
  background: #fff url("../img/tree2.png") no-repeat 0% 100%;
  -webkit-background-size: contain;
  background-size: contain;
  margin-top: -435px; }

.footer__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 90px 0 110px; }

.contact {
  background-color: #fff;
  color: #000;
  font-size: 1.8rem;
  padding: 25px 50px; }

.phone {
  padding: 30px 0; }

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 50px;
  height: 225px; }
  .footer__menu a {
    display: block;
    color: #4caf50;
    font-size: 1.8rem;
    line-height: 25px;
    margin-bottom: 15px; }
    .footer__menu a:hover {
      color: #757575; }

.begin a {
  display: block;
  width: 357px;
  height: 86px;
  position: relative;
  border: 2px solid #4caf50;
  background-color: transparent;
  color: #4caf50;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 86px;
  letter-spacing: 1px;
  text-align: center;
  overflow: hidden; }
  .begin a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.begin a span:nth-child(1) {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); }

.begin a:hover span:nth-child(1) {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.begin a span:nth-child(2) {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.begin a:hover span:nth-child(2) {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer {
    background: none; }
  .contact {
    text-align: center; }
  .begin a {
    width: 100%;
    font-size: 1.2rem;
    line-height: 50px;
    height: 50px; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    background: none; }
  .contact {
    text-align: center; }
  .footer__menu {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .begin a {
    margin: 0 auto; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    background: none; }
  .contact {
    text-align: center; }
  .footer__menu {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 25px 0; }
  .begin {
    margin-top: 50px; }
    .begin a {
      margin: 0 auto; } }

html {
  width: 100%;
  height: auto;
  font-size: 62.5%; }

body {
  width: 100%;
  height: auto; }

.wrapper {
  min-height: 100%;
  position: relative;
  height: auto; }

.wrap {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.empty {
  height: 435px; }

img {
  width: 100%;
  height: auto; }

/*preloader*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preloader .loader {
    width: 75px;
    height: 75px;
    border: 10px solid #424242;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top-color: #4caf50;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: 2s spin infinite linear;
    animation: 2s spin infinite linear; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

/* titles */
h1 {
  font-size: 4.8rem;
  line-height: 60px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-size: 4.8rem;
  line-height: 60px;
  color: #424242;
  font-family: "Roboto", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 700; }

h3 {
  font-size: 2.4rem;
  line-height: 26px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
/* about */
.about {
  margin-top: 165px;
  margin-bottom: 140px;
  background-color: #4caf50; }
  .about p {
    color: #fff;
    font-size: 1.8rem;
    padding-top: 40px;
    line-height: 20px; }

.about__txt {
  width: 54%; }

.about__img {
  position: absolute;
  top: -80px;
  right: -111px; }

.about__image {
  position: absolute;
  top: 47%;
  right: 55px; }

.about__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  padding: 40px 0 85px 0; }

.about__link a {
  display: block;
  position: relative;
  width: 213px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 15px 40px;
  margin-right: 130px;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  overflow: hidden; }
  .about__link a span {
    position: relative;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 2; }
  .about__link a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 1; }
  .about__link a:hover:before {
    left: 0;
    z-index: 1; }
  .about__link a:hover span {
    color: #4caf50; }

/*company*/
.company {
  padding-top: 100px;
  background: url("../img/tree.png") no-repeat 0% 100%;
  -webkit-background-size: contain;
  background-size: contain; }

.advantages {
  margin-top: 40px;
  margin-right: 45px; }
  .advantages ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .advantages li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    margin: 15px 0 70px;
    color: #000;
    font-size: 1.4rem;
    font-weight: 400; }

.hotell {
  margin-top: 55px;
  margin-left: 90px; }

.hotell p {
  width: 82%;
  margin-top: 30px;
  color: #000;
  font-size: 2rem;
  line-height: 28px; }

.spritehotell {
  position: relative; }
  .spritehotell span {
    color: #e0e0e0;
    font-size: 8rem;
    font-weight: 700;
    padding-left: 70px;
    padding-top: 10px;
    display: block;
    position: absolute;
    z-index: -1; }

/*gallery*/
.rows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 70px 0; }

.column {
  -webkit-box-flex: 33%;
  -webkit-flex: 33%;
  -ms-flex: 33%;
  flex: 33%;
  max-width: 32%;
  margin: 0 5px; }

.num {
  padding: 63px 0; }

figure {
  position: relative; }

figcaption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 191px;
  height: 152px;
  background-color: rgba(76, 175, 80, 0.89);
  color: #fff;
  font-size: 1.8rem; }

.column img {
  min-width: 372px;
  height: 356px;
  width: 100%;
  margin: 5px 0;
  vertical-align: middle; }

@media screen and (max-width: 800px) {
  .column {
    -webkit-box-flex: 50%;
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%; } }

@media screen and (max-width: 600px) {
  .column {
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; } }

/*kosiv*/
.kosiv {
  background: url("../img/kosiv.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 60px 0; }

.kosiv__title h2 {
  color: #fff;
  font-weight: 700; }

.kosiv__txt {
  color: #fff;
  font-size: 1.8rem;
  padding: 60px 0;
  line-height: 20px; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .about {
    margin: 70px 0; }
  .about__txt {
    width: 98%;
    margin: 0 auto; }
  .about__link a {
    width: 98%;
    margin: 0; }
  .about__img, .about__image {
    display: none; }
  .company {
    padding-top: 0; }
  .company__title h2 {
    font-size: 2rem;
    text-align: center; }
  .advantages {
    margin: 10px; }
  .hotell {
    margin: 10px; }
    .hotell p {
      width: 98%;
      font-size: 1.8rem; }
  .column img {
    min-width: 0px;
    height: auto; }
  .num {
    padding: 0; }
  .kosiv__title {
    text-align: center; }
    .kosiv__title h2 {
      font-size: 2rem; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about {
    margin: 70px 0; }
  .about__txt {
    width: 98%;
    margin: 0 auto; }
  .about__link a {
    width: 98%;
    margin: 0; }
  .about__img, .about__image {
    display: none; }
  .company {
    padding-top: 0; }
  .company__title h2 {
    font-size: 2rem;
    text-align: center; }
  .advantages {
    margin: 10px; }
    .advantages li {
      margin: 15px 0 70px 25px; }
  .hotell {
    margin: 10px; }
    .hotell p {
      width: 98%;
      font-size: 1.8rem; }
  .rows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .column img {
    min-width: 0px;
    height: auto; }
  .num {
    padding: 0; }
  .kosiv__title {
    text-align: center; }
    .kosiv__title h2 {
      font-size: 2rem; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .about {
    margin: 90px 0; }
  .about__img {
    top: 70px;
    right: 0px; }
  .about__image {
    display: none; }
  .company {
    padding-top: 0; }
  .company__title h2 {
    font-size: 3.2rem;
    text-align: center; }
  .advantages {
    margin: 10px; }
    .advantages li {
      margin: 15px 0 70px 25px; }
  .hotell {
    margin-top: 25px;
    margin-bottom: 25px; }
    .hotell p {
      width: 100%; }
  .rows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .column {
    -webkit-box-flex: 30%;
    -webkit-flex: 30%;
    -ms-flex: 30%;
    flex: 30%;
    max-width: 30%; }
    .column img {
      min-width: 0;
      height: 280px; }
  .kosiv__title h2 {
    font-size: 3.2rem; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .about {
    margin: 90px 0; }
  .about__img {
    position: absolute;
    top: 0px;
    right: 10px; }
  .about__image {
    display: none;
    padding: 0; }
  .company {
    padding-top: 0; }
  .advantages {
    margin: 10px; }
    .advantages li {
      margin: 15px 0 70px 25px; }
  .company__title h2 {
    text-align: center; }
  .rows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .column {
    -webkit-box-flex: 30%;
    -webkit-flex: 30%;
    -ms-flex: 30%;
    flex: 30%;
    max-width: 30%; }
    .column img {
      min-width: 0;
      height: 280px; } }
