/*
================================================================================
|                                   About                                  |
================================================================================
*/
.about__overlay{
    background: url("../img/aboutbg.png") no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: 10s animatedBackgroundAbout infinite linear alternate;
}
@keyframes animatedBackgroundAbout {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 30%;
  }
}
.wrap__top-about {
  background: url('../img/slider-1.png') no-repeat;
  background-size: cover;
  height: 100vh;
}
.about__us{
  margin-top: 60px;
}
.about__us-title {
  position: absolute;
  width: 45.1%;
  top: 130px;
  left: 0;
  z-index: 2;
  p {
    width: 100%;
    font-size: 1.8rem;
    color: $text-color;
    line-height: 1.4;
    letter-spacing: .6px;
    margin-top: 25px
  }
}
.sl__about{
  height: 788px;
  overflow: hidden;
}