/*
================================================================================
|                                   Contacts                                  |
================================================================================
*/
.contacts__overlay{
  background: url("../img/contactsbg.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: 40s animatedBackgroundContacts infinite linear alternate;
}
@keyframes animatedBackgroundContacts {
  0% {
    background-position: 50% 13%;
  }
  100% {
    background-position: 50% 86%;
  }
}
.contacts{
  position: relative;
}
.map {
  width: 100%;
  height: 690px;
  position: relative;
}
.contacts__addres{
  position: absolute;
  top:-500px;
  left: 50px;
  .contact{
    width: 100%;
  }
}
