html {
  width: 100%;
  height: auto;
  font-size: $base-font-size;
}

body {
  width: 100%;
  height: auto;
}

.body__overlay {
  background: url("../img/body.png") no-repeat;
  //background-position: 50% 0%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: 20s animatedBackground infinite linear alternate;
}

@keyframes animatedBackground {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
  height: auto;
}

.wrap {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.empty {
  height: 435px;
}

img {
  width: 100%;
  height: auto;
}

/*preloader*/

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $bg-color2;
  z-index: 99999;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  .loaderr svg {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .loaderr text{
    animation: 2s move infinite linear;
  }
  /*.loader {
    width: 75px;
    height: 75px;
    border: 10px solid $bg-color4;
    border-radius: 50%;
    border-top-color: $bg-color3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 2s spin infinite linear;
  }*/
  &.done {
    opacity: 0;
    visibility: hidden;
  }
}

/*@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}*/

@keyframes move {
  0% {
    fill: #424242;
  }
  100% {
    fill: green;
  }
}

/* titles */

h1 {
  @include font($font-size-h1, $line-height-h1, $title-color);
  font-family: $title-font-family;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h2 {
  @include font($font-size-h2, $line-height-h2, $title-color3);
  font-family: $title-font-family;
  padding: 15px 0 15px 0;
  font-weight: 700;
}

h3 {
  @include font($font-size-h3, $line-height-h3, $title-color);
  font-family: $title-font-family;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
/* about */
.about {
  margin-top: 165px;
  margin-bottom: 140px;
  background-color: $bg-color6;
  p {

    color: $text-color;
    font-size: 1.8rem;
    padding-top: 40px;
    line-height: 20px;
  }
}

.about__txt {
  width: 54%;
}

.about__img {
  position: absolute;
  top: -80px;
  right: -111px;
  padding-right: 0;
}

.about__image {
  position: absolute;
  top: 47%;
  right: 55px;
}

.about__link {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding: 40px 0 85px 0;
}

.about__link a {
  display: block;
  position: relative;
  width: 213px;
  border: 1px solid $bg-color2;
  background-color: transparent;
  padding: 15px 40px;
  margin-right: 130px;
  text-align: center;
  font-size: 1.6rem;
  color: $text-color;
  overflow: hidden;
  &:hover {
    background-color: $bg-color5;
    border: 1px solid $bg-color5;
  }
}

/*company*/
.company {
  padding-top: 100px;
  background: url("../img/tree.png") no-repeat 0% 100%;
  background-size: contain;
}

.advantages {
  margin-top: 40px;
  margin-right: 25px;
  ul {
    display: flex;
    flex-direction: column;
  }
  li.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0 70px 0;
    color: $text-color2;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.advantages .advantages__svg {
  position: absolute;
  width: 53px;
  height: 48px;
  fill: $text-color3;
  margin-left: -90px;
}

.advantages .advantages__svg.active {
  fill: $text-color5;
}

li.nav-item:hover .advantages__svg {
  fill: $text-color5;
}

.advantages .nav-tabs .nav-item.show .nav-link {
  color: $text-color2;
  background: none;
  border: none;
}

.advantages .nav-tabs .nav-link {
  display: flex;
  align-items: center;
  border: none;
  line-height: 20px;
  padding-left: 90px;
}

.advantages .nav-tabs .nav-link:hover {
  color: $text-color2;
}

.advantages .nav-tabs .nav-link.active {
  color: $text-color2;
  background: none;
  border: none;
}

.hotell {
  margin-top: 55px;
  margin-left: 90px;
}

.hotell p {
  width: 82%;
  margin-top: 30px;
  color: $text-color2;
  font-size: 2rem;
  line-height: 28px;
}

.tab__svg {
  display: flex;
  .advantages__svg {
    width: 82px;
    height: 77px;
    fill: $text-color5;
  }
  span {
    color: $text-color4;
    font-size: 8rem;
    font-weight: 700;
    padding-left: 70px;
    padding-top: 10px;
    display: block;
    position: absolute;
    z-index: -1;
  }
}

/*gallery*/
.rows {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 70px 0;
}

.column {
  flex: 33%;
  max-width: 32%;
  //margin: 0 5px;
}

.column__center {
  margin: 0 20px;
}

.num {
  padding: 63px 0;
}

.gallery figure {
  position: relative;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.18);
  background-color: $bg-color;
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery figure:hover figcaption {
  opacity: 1;
}

.gallery figure:hover img {
  transform: scale(1.2);
  opacity: .5;
}

.gallery figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 191px;
  height: 152px;
  background-color: rgba(76, 175, 80, .89);
  color: $text-color;
  font-size: 1.8rem;
  opacity: 0;
  @include transition(.5s);
}

.column img {
  //max-width: 352px;
  height: 352px;
  width: 100%;
  vertical-align: middle;
  @include transition(.5s);

}

/*@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}*/

@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*kosiv*/
.kosiv {
  background: url("../img/kosiv.png") no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.kosiv__title h2 {
  color: $text-color;
  font-weight: 700;
}

.kosiv__txt {
  color: $text-color;
  font-size: 1.8rem;
  padding: 60px 0;
  line-height: 20px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .about {
    margin: 160px 0 30px 0;
  }
  .about__content {
    padding-top: 60px;
  }
  .about p {
    font-size: 1.4rem;
  }
  .about__txt {
    width: 98%;
    margin: 0 auto;
    margin-top: 20%;
  }
  .about__link {
    padding: 40px 0 35px 0;
  }
  .about__link a {
    width: 80%;
    margin: auto;
  }
  .about__img {
    left: -15px;
    top: -110px;
  }
  .about__image {
    display: none;
  }
  .company {
    padding-top: 0;
  }
  .company__title h2 {
    font-size: 2.2rem;
    text-align: center;
  }
  .advantages {
    display: none;
  }

  .hotell {
    display: block;
    margin: -10px;
    margin-bottom: 30px;
    opacity: 1;
    p {
      width: 98%;
      font-size: 1.4rem;
      line-height: 15px;
    }
  }
  .tab__svg .advantages__svg {
    width: 44px;
    height: 42px;

  }
  .tab__svg span {
    font-size: 4.3rem;
    padding-left: 34px;
  }
  .column img {
    min-width: 287px;
    min-height: 270px;
    width: 100%;
  }
  .gallery figcaption {
    width: 149px;
    height: 118px;
    font-size: 1.4rem;
  }
  .column {
    margin: auto;
  }
  .column__center {
    margin: 0 auto;
  }
  .num {
    padding: 0;
  }
  .kosiv__title {
    h2 {
      font-size: 2.2rem;
    }
  }
  .kosiv {
    padding: 0 0 30px 0;
  }
  .kosiv__txt {
    font-size: 1.4rem;
    padding: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 575px) {

  .about {
    margin: 150px 0 30px 0;
  }
  .about__content {
    padding-top: 60px;
  }
  .about p {
    font-size: 1.4rem;
  }

  .about__txt {
    width: 98%;
    margin: 0 auto;
    margin-top: 30%;
  }
  .about__link {
    padding: 40px 0 35px 0;
  }
  .about__link a {
    width: 50%;
    max-width: 270px;
    margin: auto;
  }
  .about__img {
    left: -15px;
    top: -125px;
  }
  .about__image {
    display: none;
  }
  .company {
    padding-top: 0;
  }
  .company__title h2 {
    font-size: 2.2rem;
    text-align: center;
  }
  .advantages {
    display: none;
  }
  .hotell {
    display: block;
    margin: -10px;
    margin-bottom: 30px;
    opacity: 1;
    p {
      width: 98%;
      font-size: 1.4rem;
      line-height: 15px;
    }
  }
  .tab__svg .advantages__svg {
    width: 44px;
    height: 42px;

  }
  .tab__svg span {
    font-size: 4.3rem;
    padding-left: 34px;
  }
  .column img {
    min-width: 287px;
    min-height: 270px;
    width: 100%;
    height: 400px;
  }
  .gallery figcaption {
    width: 249px;
    height: 230px;
    font-size: 1.8rem;
  }
  .column {
    margin: auto;
  }
  .column__center {
    margin: 0 auto;
  }
  .num {
    padding: 0;
  }
  .kosiv__title {
    h2 {
      font-size: 2.2rem;
    }
  }
  .kosiv {
    padding: 0 0 30px 0;
  }
  .kosiv__txt {
    font-size: 1.4rem;
    padding: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .about {
    margin: 130px 0 30px 0;
  }
  .about__content {
    padding-top: 60px;
  }
  .about p {
    font-size: 1.4rem;
  }
  .about__txt {
    width: 98%;
    margin: 0 auto;
    margin-top: 40%;
  }
  .about__link {
    padding: 40px 0 35px 0;
  }
  .about__link a {
    width: 50%;
    max-width: 270px;
    margin: auto;
  }
  .about__img {
    left: -15px;
    top: -125px;
  }
  .about__image {
    display: none;
  }
  .company {
    padding-top: 0;
  }
  .company__title h2 {
    font-size: 2.2rem;
    text-align: center;
  }

  .hotell {
    display: block;
    margin: -10px;
    margin-bottom: 30px;
    opacity: 1;
    p {
      width: 98%;
      font-size: 1.4rem;
      line-height: 15px;
    }
  }
  .advantages {
    margin-right: 0;
  }
  .advantages li.nav-item {
    margin: 0 0 50px 0;
  }
  .tab__panes {
    display: flex;
    align-items: center;
  }
  .advantages .advantages__svg {
    width: 31px;
    height: 33px;
  }

  .tab__svg .advantages__svg {
    width: 58px;
    height: 63px;

  }
  .tab__svg span {
    font-size: 6.4rem;
    padding-left: 50px;
  }
  .column img {
    min-width: 730px;
    min-height: 700px;
    width: 100%;
  }
  .gallery figcaption {
    width: 60%;
    height: 50%;
    max-width: 380px;
    max-height: 300px;
    font-size: 3rem;
    padding: 0 55px;
    text-align: left;
  }
  .column {
    margin: auto;
  }
  .column__center {
    margin: 0 auto;
  }
  .num {
    padding: 0;
  }
  .kosiv__title {
    h2 {
      font-size: 2.2rem;
    }
  }
  .kosiv {
    padding: 0 0 30px 0;
  }
  .kosiv__txt {
    font-size: 1.4rem;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .about {
    margin: 130px 0 30px 0;
  }
  .about__content {
    position: relative;
    padding-top: 60px;
  }
  .about p {
    font-size: 1.4rem;
  }
  .about__txt {
    width: 98%;
    margin: 0 auto;
    margin-top: 45%;
  }
  .about__link {
    padding: 40px 0 35px 0;
  }
  .about__link a {
    width: 50%;
    max-width: 270px;
    margin: auto;
  }
  .about__img {
    left: -4%;
    max-width: 780px;
    top: -125px;
  }
  .about__image {
    display: none;
  }
  .company {
    padding-top: 0;
  }
  .company__title h2 {
    font-size: 2.2rem;
    text-align: center;
  }

  .hotell {
    display: block;
    margin: -10px;
    margin-bottom: 30px;
    opacity: 1;
    p {
      width: 98%;
      font-size: 1.4rem;
      line-height: 15px;
    }
  }
  .advantages {
    margin-right: 0;
  }
  .advantages li.nav-item {
    margin: 0 0 50px 0;
  }
  .tab__panes {
    display: flex;
    align-items: center;
  }
  .advantages .advantages__svg {
    width: 31px;
    height: 33px;
  }

  .tab__svg .advantages__svg {
    width: 58px;
    height: 63px;

  }
  .tab__svg span {
    font-size: 6.4rem;
    padding-left: 50px;
  }
  .column img {
    min-width: 150px;
    min-height: 240px;
    width: 100%;
    height: auto;
  }
  .gallery figure {
    margin-bottom: 10px;
  }
  .gallery figcaption {
    width: 60%;
    height: 50%;
    max-width: 380px;
    max-height: 300px;
    font-size: 1.2rem;
    padding: 0 15px;
    text-align: left;
  }
  .column {
    margin: auto;
  }
  .column__center {
    margin: 0 auto;
  }
  .num {
    padding: 30px 0;
  }
  .kosiv__title {
    h2 {
      font-size: 2.2rem;
    }
  }
  .kosiv {
    padding: 0 0 30px 0;
  }
  .kosiv__txt {
    font-size: 1.4rem;
    padding: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .reserve__link {
    text-align: center;
    padding: 17px 20px;
    margin: 0;
  }
  .header__title {
    // top:90px;
    h1 {
      font-size: 3.8rem;
    }
    p {
      font-size: 2.4rem;
      margin-top: 0;
    }
  }

  .header__bottom .departure img {
    bottom: 48%;
  }
  .header__bottom .bout img {
    bottom: 48%;
  }
  .header__bottom .form svg {
    bottom: 58%;
  }
  .about {
    margin-top: 100px;
  }
  .about__img {
    right: 0;
  }
  .about__image {
    position: absolute;
    top: 36%;
    right: 47px;
  }

  .company {
    padding-top: 0;
  }
  .company__title h2 {
    font-size: 3.8rem;
  }
  .hotell {
    margin-left: 0;
    p {
      font-size: 1.8rem;
    }
  }
  .column img {
    min-width: 250px;
    min-height: 310px;
    width: 100%;
    height: auto;
  }
  .gallery figure {
    margin-bottom: 10px;
  }
  .gallery figcaption {
    width: 60%;
    height: 50%;
    max-width: 380px;
    max-height: 300px;
    font-size: 1.4rem;
    padding: 0 15px;
    text-align: left;
  }
  .column {
    margin: auto;
  }
  .column__center {
    margin: 0 auto;
  }
  .num {
    padding: 30px 0;
  }

  .kosiv {
    padding: 0 0 30px 0;
  }
  .kosiv__title {
    h2 {
      font-size: 3.8rem;
    }
  }
  .kosiv__txt {
    font-size: 1.6rem;
    padding: 0;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1366px) {
  .about__img {
    right: -83px;
  }
}



