/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
  height: 435px;
  background: $bg-color2 url("../img/tree2.png") no-repeat 0% 100%;
  background-size: contain;

}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px 0 110px;
}

.contact {
  width: 84%;
  background-color: $bg-color2;
  color: $text-color2;
  font-size: 1.8rem;
  padding: 50px 24px;
  box-shadow: 0 5px 114px rgba(0, 0, 0, 0.1);
  a:hover{
    color: $text-color5;
  }
  span{
    display: block;
    line-height: 22px;
  }
}

.phone {
  padding: 30px 0;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  height: 225px;
  a {
    display: block;
    color: $text-color5;
    font-size: 1.8rem;
    line-height: 25px;
    margin-bottom: 15px;
    &:hover {
      color: $text-color3;
    }
  }
}

.btn__begin {
  button {
    display: block;
    width: 357px;
    height: 86px;
    position: relative;
    border: 2px solid $bg-color3;
    background-color: transparent;
    color: $text-color5;
    font-size: 2.4rem;
    text-transform: uppercase;
    line-height: 86px;
    letter-spacing: 1px;
    text-align: center;
    overflow: hidden;
    &:hover{
      background-color: #449C44;
      border: 2px solid #449C44;
      color: $text-color;
    }
  }
}
.footer__contact{
  display: none;
}
.footer__box-contact{
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 170px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer {
    background: none;
  }
  .contact{
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  .btn__begin {
    max-width: 300px;
    margin: auto;
    button {
      width: 100%;
      font-size: 1.9rem;
      line-height: 70px;
      height: 70px;
      margin: 0 auto;
    }
  }
  .footer__menu{
    padding: 0;
    max-width: 330px;
    margin: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 575px){
  .footer {
    background: none;
  }
  .contact{
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  .btn__begin {
    max-width: 300px;
    margin: auto;
    button {
      width: 100%;
      font-size: 1.9rem;
      line-height: 70px;
      height: 70px;
      margin: 0 auto;
    }
  }
  .footer__menu{
    padding: 0;
    max-width: 330px;
    margin: auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .footer {
    height: auto;
  }
  .footer__box{
    margin: 60px 0 0 0;
    padding-bottom: 60px;
    align-items: flex-start;
  }
  .contact{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    font-size: 1.2rem;
  }
  .btn__begin {
    max-width: 300px;
    margin: auto;
    margin-top: 65px;
    button {
      width: 100%;
      font-size: 1.2rem;
      line-height: 70px;
      height: 70px;
      margin: 0 auto;
    }
  }
  .footer__menu{
    padding: 0;
    max-width: 330px;
    margin: auto;
    padding-top: 45px;
    a{
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    height: auto;
  }
  .footer__box{
    margin: 60px 0 0 0;
    padding-bottom: 60px;
    align-items: flex-start;
  }
  .contact{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    font-size: 1.4rem;
  }
  .btn__begin {
    max-width: 300px;
    margin: auto;
    margin-top: 65px;
    button {
      width: 100%;
      font-size: 1.4rem;
      line-height: 70px;
      height: 70px;
      margin: 0 auto;
    }
  }
  .footer__menu{
    padding: 0;
    max-width: 330px;
    margin: auto;
    padding-top: 45px;
    a{
      font-size: 1.4rem;
    }
  }
}

