/*
================================================================================
|                                   Gallery                                  |
================================================================================
*/
.gallery__overlay {
  background: url("../img/gallerybg.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: 20s animatedBackgroundGallery infinite linear alternate;
}

@keyframes animatedBackgroundGallery {
  0% {
    background-position: 50% -30%;
  }
  100% {
    background-position: 50% 40%;
  }
}
.button-gallery-box{
  position: absolute;
  top: 20%;
  right: 11%;
  z-index: 22;
}

.gallery figure {
  margin-bottom: 20px;
  cursor: pointer;
}

.more__img{
  color: $text-color5;
  font-size: 1.8rem;
  font-weight: 700;
}
.sm_show{
  display: none;
}
.sm_hiden{
  display: block;
}

.popup__box_img{
  max-width: 700px;

  margin: auto;
}
.popup__btn{
  display: block;
  background-color: $bg-color3;
  color: $text-color;
  padding: 17px 35px;
  font-size: 1.4rem;
  border: none;
  @include transition(.5s);
  &:hover {
    background-color: $bg-color5;
    color: $text-color;
  }
}
.sl__gallery{
  width: 100%;
  //max-width: 700px;
 // max-height: 600px;
  margin: auto;
  .slick-next{
    right: 0;
  }
}

.sl__gallery2{
  margin-top: 15px;
}
.sl__gallery2 img {
  max-width: 160px;
  max-height: 110px;
  margin: auto;
}

.sl__gallery .slick-next::before{
  font-family: FontAwesome;
  content: '\f105';
  font-size: 9rem;
  margin-left: 300px;
}
.sl__gallery .slick-prev::before{
  font-family: FontAwesome;
  content: '\f104';
  font-size: 9rem;
  margin-left: -560px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .sm_show{
    display: block;
  }
  .sm_hiden{
    display: none;
  }
  .sl__rooms {
    height: auto;
  }
  .popup__box_img{
    max-width: 300px;
  }
  .sl__gallery{
    max-width: 300px;
    max-height: 200px;
    img{
      max-width: 300px;
      max-height: 200px;
    }
  }
  .sl__gallery2{
    margin-top: 10px;
  }
  .sl__gallery2 .slick-slide{
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .sm_show{
    display: block;
  }
  .sm_hiden{
    display: none;
  }
  .button-gallery-box{
    top:15%;
  }
  .sl__rooms {
    height: auto;
  }
  .popup__box_img{
    max-width: 400px;
  }
  .sl__gallery{
    max-width: 400px;
    max-height: 250px;
    img{
      max-width: 400px;
      max-height: 250px;
    }
  }
  .sl__gallery2{
    margin-top: 10px;
  }
  .sl__gallery2 .slick-slide{
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sl__rooms {
    height: auto;
    .slick-slide img{
      width: 100%;
      height: 768px;
    }
  }
  .popup__box_img{
    max-width: 400px;
  }
  .sl__gallery{
    max-width: 400px;
    max-height: 250px;
    img{
      max-width: 400px;
      max-height: 250px;
    }
  }
  .sl__gallery2{
    margin-top: 10px;
  }
  .sl__gallery2 .slick-slide{
    padding-right: 5px;
    padding-left: 5px;
  }
  .button-gallery-box{
    top:14%;
  }
  .gallery figure{
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .sl__rooms {
    height: auto;
    .slick-slide img{
      width: 100%;
      height: 768px;
    }
  }
  .sl__gallery .slick-next{
    right: 0;
  }
  .sl__gallery .slick-next::before{
    margin-left: 80px;
  }
  .sl__gallery .slick-prev::before{
    margin-left: -100px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1366px) {
  .sl__rooms {
    height: auto;
    .slick-slide img{
      width: 100%;
      height: 768px;
    }
  }
}