/*
================================================================================
|                                   Gallery                                  |
================================================================================
*/
.gallery__overlay {
  background: url("../img/gallerybg.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: 20s animatedBackgroundGallery infinite linear alternate;
}

@keyframes animatedBackgroundGallery {
  0% {
    background-position: 50% -30%;
  }
  100% {
    background-position: 50% 40%;
  }
}
.button-gallery-box{
  position: absolute;
  top: 20%;
  right: 11%;
  z-index: 22;
}

.gallery figure {
  margin-bottom: 20px;
  cursor: pointer;
}

.more__img{
  color: $text-color5;
  font-size: 1.8rem;
  font-weight: 700;
}
.sm_show{
  display: none;
}
.sm_hiden{
  display: block;
}
/*
.modal__gallery{
  .modal-content{
    background-color: transparent;
    border: none;
  }
}
*/
.popup__box{
  width: 700px;
  margin: auto;
}
.popup__btn{
  display: block;
  background-color: $bg-color3;
  color: $text-color;
  padding: 17px 35px;
  font-size: 1.4rem;
  border: none;
  @include transition(.5s);
  &:hover {
    background-color: $bg-color5;
    color: $text-color;
  }
}
.sl__gallery{
  width: 100%;
  max-width: 700px;
  max-height: 600px;
  margin: auto;
}

.sl__gallery2{
  margin-top: 15px;
}
.sl__gallery2 img {
  width: 160px;
  height: 110px;
  margin: auto;
}

.sl__gallery .slick-next::before{
  font-family: FontAwesome;
  content: '\f105';
  font-size: 9rem;
  margin-left: 300px;
}
.sl__gallery .slick-prev::before{
  font-family: FontAwesome;
  content: '\f104';
  font-size: 9rem;
  margin-left: -560px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .sm_show{
    display: block;
  }
  .sm_hiden{
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}