/*
================================================================================
|                                   Gallery                                  |
================================================================================
*/
.gallery figure {
  margin-bottom: 20px;
}
.more__img{
  color: $text-color5;
  font-size: 1.8rem;
  font-weight: 700;
}