/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.wrap__top {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  //height: 85px;
  display: flex;
  align-items: center;
  background-color: $bg-color2;
  z-index: 999;
}

/*.wrap__top__color {
  .header {
    background-color: $bg-color8;
  }
  .panel{
    background-color: $bg-color8;
  }
}*/
.header__contacts {
  background-color: $bg-color2;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 85px;
}

.header__wrap_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 31%;
}

.content__box {
  position: relative;
}

.logo {
  width: 90px;
  height: 70px;
  img {
    width: 100%;
  }

}

.icon {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburger {
  display: none;
  width: 40px;
  height: 5px;
  background: $title-color2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: $title-color2;
  transition: .5s;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 9px;
  transform: rotate(45deg);
}

.icon.active .hamburger::after {
  transform: rotate(135deg);
}

.header__title {
  position: absolute;
  width: 350px;
  top: 130px;
  left: 0;
  z-index: 1;
  h1 {
    letter-spacing: 1px;
  }
  p {
    font-size: 2.4rem;
    color: $text-color;
    line-height: 1.4;
    letter-spacing: .6px;
    margin-top: 25px;
  }
}

input[type="button"] {
  background-color: $bg-color3;
  color: $text-color;
  padding: 17px 35px;
  font-size: 1.4rem;
  border: none;
  @include transition(.5s);
  &:hover {
    background-color: $bg-color5;
  }
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu__item {
  padding-left: 30px;
  &:first-child {
    padding-left: 0;
  }
}

.menu__link {
  display: block;
  color: $text-color2;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 35px 0 25px;
  &:hover {
    color: $text-color5;
  }
  &:active {
    color: $text-color5;
  }
  &:focus {
    color: $text-color5;
  }
}

.active {
  color: $text-color5;
}

.panel {
  position: absolute;
  left: -90px;
  display: none;
  width: 816px;
  background-color: $bg-color2;
}

.menu li {
  position: relative;
}

.menu__item_hover:hover  .panel {
  display: block;
  margin: 0;
}

.menu li > ul li a {
  display: block;
  padding: 14px 10px;
  padding-left: 26px;
  color: $text-color2;
  font-size: 1.8rem;
  letter-spacing: 1.05px;
  line-height: 18px;
  &:hover {
    color: $text-color5;
  }
}

.menu a.active {
  color: $text-color5;
}

.panel ul {
  display: inline-flex;
  flex-direction: row;
}

.panel li {
  margin-right: 1em;
}

.panel li:hover > a {
  color: #416b83;
}

.panel ul ul {
  display: flex;
  flex-direction: column;
}

.has-children span {
  display: block;
  font-size: 2.2rem;
  margin-top: 10px;
  padding: 20px;
  color: $text-color2;
}

.panel .has-children > a {
  margin-bottom: 1em;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid;
}

.list__children-2 {
  padding: 75px 15px 107px;
  border-left: 1px solid $bg-color3;
  border-right: 1px solid $bg-color3;
}

.header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: rgba(27, 94, 32, .64);
  @include transition(.5s);
  z-index: 1;
  .departure img {
    width: 21px;
    height: 22px;
    position: absolute;
    bottom: 28%;
    right: 12%;
  }
  .bout img {
    width: 21px;
    height: 22px;
    position: absolute;
    bottom: 28%;
    right: 12%;
  }
  .form select {
    appearance: none;
    position: relative;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  form {
    display: flex;
    justify-content: space-around;
    input, select {
      background-color: $bg-color2;
      width: 100%;
      height: 47px;
      border: none;
      color: $text-color3;
      font-size: 1.4rem;
      padding: 16px;
    }
  }
  .form svg {
    position: absolute;
    bottom: 40%;
    right: 12%;
    width: 18px;
    height: 9px;
  }

  .submit {
    background-color: $bg-color3;
    color: $text-color;
    @include transition(.5s);
    &:hover {
      background-color: $bg-color5;
    }
  }
}

.header__bottom {
  opacity: 1;
  @include transition(.5s);
}

.header__bottom_change {
  position: relative;
  margin-top: 84px;
}

.hide {
  opacity: 0;
  z-index: -2;
}

.button-reserve {
  opacity: 0;
  @include transition(.5s);
  position: relative;
  z-index: -1;
}

.fix {
  opacity: 1;
  z-index: 1;
}

.book__room {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0 60px 0;
}

.modal__reserve {
  position: absolute;
  margin: auto;
  height: 660px;
  .modal-content {
    background-color: transparent;
    border: none;
  }
}

.reserve__link {
  display: block;
  background-color: $bg-color3;
  color: $text-color;
  padding: 17px 35px;
  font-size: 1.4rem;
  border: none;
  @include transition(.5s);
  &:hover {
    background-color: $bg-color5;
    color: $text-color;
  }
}

.popup__box2 {
  width: 340px;
  margin: auto;
}

.form {
  width: 100%;
}

.form__colum {
  display: flex;
  flex-direction: column;
}

.form_control {
  margin-bottom: 15px;
  width: 330px;
}

form {
  display: flex;
  justify-content: space-around;
  input, select {
    background-color: $bg-color2;
    width: 100%;
    height: 85px;
    border: none;
    color: $text-color3;
    font-size: 2.4rem;
    padding: 16px;
  }
}

.ui-datepicker {
  font-size: 12pt !important;
  color: $text-color5;
  .ui-datepicker-header {
    color: $text-color5;
  }
  .ui-state-default {
    color: $text-color5;
    border: 1px solid $bg-color5;
  }
}

.my-data {
  position: relative;
}

.form_control {
  position: relative;
}

.departure img {
  width: 36px;
  height: 38px;
  position: absolute;
  bottom: 32%;
  right: 5%;
}

.bout img {
  width: 36px;
  height: 38px;
  position: absolute;
  right: 5%;
  bottom: 32%;
  z-index: 2;
}

.form select {
  appearance: none;
  position: relative;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.form svg {
  position: absolute;
  bottom: 38%;
  right: 5%;
  width: 31px;
  height: 16px;
}

.submit {
  background-color: $bg-color3;
  color: $text-color;
  @include transition(.5s);
  &:hover {
    background-color: $bg-color5;
  }
}

.sl {
  height: 100vh;
  overflow: hidden;
}

.sl .sl__slider {
  text-align: center;
  color: $text-color;
}

.sl .sl__img {
  width: 100%;
}

.sl .slick-dots {
  z-index: 1;
  bottom: 48%;
  left: 21%;
  width: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sl .slick-dots li {
  width: 10px;
  height: 10px;
}

.sl .slick-dots li button {
  display: flex;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 0;
  background: rgba(255, 255, 255, .2);
}

.sl .slick-dots li button:before {
  display: none;
}

.sl .slick-dots li button:hover {
  background: $bg-color3;
}

.sl .slick-dots li.slick-active {
  width: 13px;
  height: 13px;
}

.sl .slick-dots li.slick-active button {
  background: $bg-color3;
  width: 13px;
  height: 13px;
}

.sl .slick-dots li {
  margin: 0;
}

@media all and (max-width: 767px) {
  .header{
    //position: absolute;
  }
  .header__wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin-top: 10px;
  }
  .icon {
    display: flex;
    position: absolute;
    right: 4%;
    top: 15px;
  }
  .hamburger{
    display: flex;
  }
  /*.logo {
    position: absolute;
    left: 4%;
    top: 7%;
  }*/
  .menu {
    //margin-top: 80px;
    display: none;
    width: 100%;
    margin-top: 30px;
  }
  .menu ul {
    display: block;
    //transition: max-height 0.3s;
  }
  .menu__item {
    padding-left: 20px;
    &:first-child {
      padding-left: 20px;
    }
  }
  .menu__link {
    font-size: 2rem;
    line-height: 15px;
    letter-spacing: 0.64px;
    padding: 15px 0 15px;
  }
  .has-children span {
    font-size: 1.8rem;
    margin-top: 0;
    padding: 10px;
  }
  .menu li > ul li a {
    padding: 8px 5px;
    padding-left: 26px;
    font-size: 1.6rem;
    line-height: 16px;
  }
  .panel{
    position: relative;
    display: none;
    left: 0;
  }
   .sowed {
    position: relative;
    display: block;
  }

  .list__children-2 {
    padding: 0;
    border-left: none;
    border-right: none;
  }

  /*.menu__item:hover > .panel {
    display: none;
  }*/

}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .button-reserve {
    display: none;
  }
  .header__title {
    top: 100px;
    width: 182px;
    h1 {
      font-size: 2.4rem;
      text-align: left;
      line-height: 25px;
      width: auto;
    }
    p {
      font-size: 1.2rem;
      margin-top: 0;
    }
  }
  .header__bottom {
    background-color: transparent;
    height: 50%;
    top: 45%;
    opacity: 1;
    z-index: 1;
  }
  .book__room {
    height: 100%;
  }
  .form{
    width: 190px;
  }
  .form__title h3 {
    display: none;
  }

  .header__bottom form input, .header__bottom form select {
    margin-bottom: 15px;
    width: 190px;
    height: 47px;
    position: relative;
  }

  .header__bottom .bout img{
    bottom: 43%;
    right: 11%;
  }
  .header__bottom .departure img{
    bottom: 43%;
    right: 11%;
  }
  .header__bottom .form svg{
    bottom: 43%;
    right: 11%;
    width: 21px;
    height: 22px;
  }
  .submit {
    border: 1px solid $bg-color2;
  }

  .sl .sl__img{
    width:auto;
  }
  .sl .slick-dots{
    bottom: 65%;
    left: 4%;
    width: 70px;
  }
  .sl .slick-dots li.slick-active {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li {
    width: 7px;
    height: 7px;
  }
  .sl .slick-dots li button{
    width: 7px;
    height: 7px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container{
    max-width: 710px;
  }
  .button-reserve {
    display: none;
  }
  .header__title {
    top: 100px;
    width: 182px;
    h1 {
      font-size: 2.4rem;
      text-align: left;
      line-height: 25px;
      width: auto;
    }
    p {
      font-size: 1.2rem;
      margin-top: 0;
    }
  }
  .header__bottom {
    background-color: transparent;
    height: auto;
    top: 22%;
    opacity: 1;
    z-index: 1;
  }
  .book__room {
    height: 100%;
    align-items: flex-end;
  }
  .form{
    width: 67%;
    max-width: 330px;
  }
  .form__title h3 {
    display: none;
  }

  .header__bottom form input, .header__bottom form select {
    margin-bottom: 15px;
    width: 100%;
    height: 82px;
    position: relative;
    font-size:2.4rem;
  }

  .header__bottom .bout img,
  .header__bottom .departure img {
    width: 36px;
    height: 38px;
    position: absolute;
    right: 9%;
    bottom: 32%;
    z-index: 2;
  }
  .header__bottom .form svg{
    bottom: 43%;
    right: 11%;
    width: 21px;
    height: 22px;
  }
  .submit {
    border: 1px solid $bg-color2;
  }

  .sl .sl__img{
    width:auto;
  }
  .sl .slick-dots{
    bottom: 65%;
    left: 4%;
    width: 70px;
    z-index: 5;
  }
  .sl .slick-dots li.slick-active {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li {
    width: 7px;
    height: 7px;
  }
  .sl .slick-dots li button{
    width: 7px;
    height: 7px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__title {
    left: 50px;
  }
  .menu__item {
    padding-left: 15px;
    a {
      font-size: 2rem;
    }
  }
  .header__bottom {
    height: auto;
  }
  .has-children span {
    font-size: 1.8rem;
  }
  .menu li > ul li a {
    font-size: 1.6rem;
    padding: 10px 10px;
  }
  .panel {
    left: -220px;
    width: 730px;
  }
  form input, form select {
    margin-bottom: 20px;
  }
  .bout img, .departure img {
    bottom: 50%;
  }
  .form svg {
    bottom: 58%;
  }
  .book__room {
    height: 100%;
  }
  .sliders {
    height: 880px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header__title {
    left: 50px;
  }
  .header__bottom {
    height: auto;
  }
  form input, form select {
    margin-bottom: 20px;
  }
  .bout img, .departure img {
    bottom: 50%;
  }
  .form svg {
    bottom: 58%;
  }
  .book__room {
    height: 100%;
  }
  .sliders {
    height: 900px;
  }
  .sl .slick-dots {
    left: 11%;
  }
}
