/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.wrap__top {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  //height: 85px;
  display: flex;
  align-items: center;
  background-color: $bg-color2;
  z-index: 999;
}

.header__contacts {
  background-color: $bg-color2;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 85px;
}

.header__wrap_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 31%;
}

.content__box {
  position: relative;
}

.logo {
  width: 90px;
  height: 70px;
  img {
    width: 100%;
  }

}

.icon {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburger {
  display: none;
  width: 40px;
  height: 2px;
  background: $bg-color3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: $bg-color3;
  transition: .5s;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 9px;
  transform: rotate(45deg);
}

.icon.active .hamburger::after {
  transform: rotate(135deg);
}

.header__title {
  position: absolute;
  width: 350px;
  top: 130px;
  left: 0;
  z-index: 1;
  h1 {
    letter-spacing: 1px;
  }
  p {
    font-size: 2.4rem;
    color: $text-color;
    line-height: 1.4;
    letter-spacing: .6px;
    margin-top: 25px;
  }
}

input[type="button"] {
  background-color: $bg-color3;
  color: $text-color;
  padding: 17px 35px;
  font-size: 1.4rem;
  border: none;
  @include transition(.5s);
  &:hover {
    background-color: $bg-color5;
  }
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu__item {
  padding-left: 30px;
  &:first-child {
    padding-left: 0;
  }
}

.menu__link {
  display: block;
  color: $text-color2;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 35px 0 25px;
  &:hover {
    color: $text-color5;
  }
  &:active {
    color: $text-color5;
  }
  &:focus {
    color: $text-color5;
  }
}

.active {
  color: $text-color5;
}

.panel {
  position: absolute;
  left: -90px;
  display: none;
  width: 816px;
  background-color: $bg-color2;
}

.menu li {
  position: relative;
}

.menu__item_hover:hover .panel {
  display: block;
  margin: 0;
}

.menu li > ul li a {
  display: block;
  padding: 14px 10px;
  padding-left: 26px;
  color: $text-color2;
  font-size: 1.8rem;
  letter-spacing: 1.05px;
  line-height: 18px;
  &:hover {
    color: $text-color5;
  }
}

.menu a.active {
  color: $text-color5;
}

.panel ul {
  display: inline-flex;
  flex-direction: row;
}

.panel li {
  margin-right: 1em;
}

.panel li:hover > a {
  color: #416b83;
}

.panel ul ul {
  display: flex;
  flex-direction: column;
}

.has-children span {
  display: block;
  font-size: 2.2rem;
  margin-top: 10px;
  padding: 20px;
  color: $text-color2;
}

.panel .has-children > a {
  margin-bottom: 1em;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid;
}

.list__children-2 {
  padding: 75px 15px 107px;
  border-left: 1px solid $bg-color3;
  border-right: 1px solid $bg-color3;
}

.header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: rgba(27, 94, 32, .64);
  @include transition(.5s);
  z-index: 1;
  .departure img {
    width: 21px;
    height: 22px;
    position: absolute;
    bottom: 28%;
    right: 12%;
  }
  .bout img {
    width: 21px;
    height: 22px;
    position: absolute;
    bottom: 28%;
    right: 12%;
  }
  .form select {
    appearance: none;
    position: relative;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  form {
    display: flex;
    justify-content: space-around;
    input, select {
      background-color: $bg-color2;
      width: 100%;
      height: 47px;
      border: none;
      color: $text-color3;
      font-size: 1.4rem;
      padding: 16px;
    }
  }
  .form svg {
    position: absolute;
    bottom: 40%;
    right: 12%;
    width: 18px;
    height: 9px;
  }

  .submit {
    background-color: $bg-color3;
    color: $text-color;
    @include transition(.5s);
    &:hover {
      background-color: $bg-color5;
    }
  }
}

.header__bottom {
  opacity: 1;
  @include transition(.5s);
}

.header__bottom_change {
  position: relative;
  padding-top: 84px;
  height: 290px;
}

.hide {
  opacity: 0;
  z-index: -2;
}

.button-reserve {
  opacity: 0;
  @include transition(.5s);
  position: relative;
  z-index: -1;
}

.fix {
  opacity: 1;
  z-index: 1;
}

.book__room {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0 60px 0;
}

.modal__reserve {
  position: absolute;
  margin: auto;
  height: 660px;
  .modal-content {
    background-color: transparent;
    border: none;
  }
}

.reserve__link {
  display: block;
  background-color: $bg-color3;
  color: $text-color;
  padding: 17px 35px;
  font-size: 1.4rem;
  border: none;
  @include transition(.5s);
  &:hover {
    background-color: $bg-color5;
    color: $text-color;
  }
}

.popup_form {
   display: none;
   position: absolute;
   left: 0;
   top: 0px;
   right: 0;
   width: 340px;
   margin: auto;
   z-index: 99999;
 }


.bg_popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99998;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

.form {
  width: 100%;
}

.form__colum {
  display: flex;
  flex-direction: column;
}

.form_control {
  margin-bottom: 15px;
  width: 330px;
}

form {
  display: flex;
  justify-content: space-around;
  input, select {
    background-color: $bg-color2;
    width: 100%;
    height: 85px;
    border: none;
    color: $text-color3;
    font-size: 2.4rem;
    padding: 16px;
  }
}

.ui-datepicker {
  font-size: 12pt !important;
  color: $text-color5;
  .ui-datepicker-header {
    color: $text-color5;
  }
  .ui-state-default {
    color: $text-color5;
    border: 1px solid $bg-color5;
  }
}

.my-data {
  position: relative;
}

.form_control {
  position: relative;
}

.departure img {
  width: 36px;
  height: 38px;
  position: absolute;
  bottom: 32%;
  right: 5%;
}

.bout img {
  width: 36px;
  height: 38px;
  position: absolute;
  right: 5%;
  bottom: 32%;
  z-index: 2;
}

.form select {
  appearance: none;
  position: relative;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.form svg {
  position: absolute;
  bottom: 38%;
  right: 5%;
  width: 31px;
  height: 16px;
}

.submit {
  background-color: $bg-color3;
  color: $text-color;
  @include transition(.5s);
  &:hover {
    background-color: $bg-color5;
  }
}

.sl {
  max-height: 768px;
  height: 100%;
  overflow: hidden;
}

.sl .sl__slider {
  text-align: center;
  color: $text-color;
}

.sl .sl__img {
  width: 100%;
}

.sl .slick-dots {
  z-index: 1;
  bottom: 48%;
  left: 21%;
  width: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sl .slick-dots li {
  width: 10px;
  height: 10px;
}

.sl .slick-dots li button {
  display: flex;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 0;
  background: rgba(255, 255, 255, .2);
}

.sl .slick-dots li button:before {
  display: none;
}

.sl .slick-dots li button:hover {
  background: $bg-color3;
}

.sl .slick-dots li.slick-active {
  width: 13px;
  height: 13px;
}

.sl .slick-dots li.slick-active button {
  background: $bg-color3;
  width: 13px;
  height: 13px;
}

.sl .slick-dots li {
  margin: 0;
}

@media all and (max-width: 991px) {
  .header {
    //position: absolute;
  }
  .header__wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin-top: 10px;
  }
  .icon {
    display: flex;
    position: absolute;
    right: 4%;
    top: 15px;
  }
  .hamburger {
    display: flex;
  }
  /*.logo {
    position: absolute;
    left: 4%;
    top: 7%;
  }*/
  .menu {
    //margin-top: 80px;
    max-height: 220px;
    overflow-y: scroll;
    display: none;
    width: 100%;
    margin-top: 30px;
  }
  .menu ul {
    display: block;
    //transition: max-height 0.3s;
  }
  .menu__item {
    padding-left: 20px;
    &:first-child {
      padding-left: 20px;
    }
  }
  .menu__link {
    font-size: 2rem;
    line-height: 15px;
    letter-spacing: 0.64px;
    padding: 15px 0 15px;
  }
  .has-children span {
    font-size: 1.8rem;
    margin-top: 0;
    padding: 10px;
  }
  .menu li > ul li a {
    padding: 8px 5px;
    padding-left: 26px;
    font-size: 1.6rem;
    line-height: 16px;
  }
  .panel {
    position: relative;
    display: none;
    left: 0;
    width: 100%;
  }
  .sowed {
    position: relative;
    display: block;
  }

  .list__children-2 {
    padding: 0;
    border-left: none;
    border-right: none;
  }

  /*.menu__item:hover > .panel {
    display: none;
  }*/

}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .button-reserve {
    margin-right: 13%;
  }
  .reserve__link {
    padding: 15px 10px;
    font-size: 1rem;
  }

  .header__wrap_group {
    width: 80%;
  }
  .header__title {
    top: 100px;
    width: 182px;
    h1 {
      font-size: 2.4rem;
      text-align: left;
      line-height: 25px;
      width: auto;
    }
    p {
      font-size: 1.2rem;
      margin-top: 0;
    }
  }
  .hide__txt {
    display: none;
  }
  .header__bottom {
    background-color: transparent;
    height: 50%;
    top: 45%;
    opacity: 1;
    //z-index: 1;
  }
  .book__room {
    height: 100%;
  }
  .form {
    // width: 190px;
  }
  .form__title h3 {
    display: none;
  }
  .form__input {
    position: relative;
    width: 190px;
    margin: auto;
  }
  .header__bottom form input, .header__bottom form select {
    margin-bottom: 15px;
    width: 190px;
    height: 47px;
    position: relative;
  }

  .header__bottom .bout img {
    bottom: 43%;
    right: 7%;
  }
  .header__bottom .departure img {
    bottom: 43%;
    right: 7%;
  }
  .header__bottom .form svg {
    bottom: 43%;
    right: 7%;
    width: 21px;
    height: 22px;
  }
  .submit {
    border: 1px solid $bg-color3;
  }
  .popup_form{
    width: 190px;
    .form_control {
      position: relative;
      width: 190px;
      margin: auto;
    }
    form input, form select {
      margin-bottom: 13px;
      width: 190px;
      height: 45px;
      position: relative;
      font-size: 1.4rem;
    }

    .bout img {
      width: 21px;
      height: 22px;
      bottom: 43%;
      right: 7%;
    }
    .departure img {
      width: 21px;
      height: 22px;
      bottom: 43%;
      right: 7%;
    }
    .form svg {
      bottom: 43%;
      right: 7%;
      width: 21px;
      height: 22px;
    }
  }
  .sl {
    height: auto;
    overflow: visible;
  }
  .sl .sl__img {
    width: auto;
  }
  .sl .slick-dots {
    bottom: 65%;
    left: 4%;
    width: 70px;
  }
  .sl .slick-dots li.slick-active {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li {
    width: 7px;
    height: 7px;
  }
  .sl .slick-dots li button {
    width: 7px;
    height: 7px;
  }
}

/*@media screen and (max-width: 568px) and (min-width: 320px){
  .popup_form {
    width: 190px;
    .form_control {
      position: relative;
      width: 190px;
      margin: auto;
    }
    form input, form select {
      margin-bottom: 15px;
      padding: 10px;
      width: 190px;
      height: 35px;
      position: relative;
      font-size: 1.4rem;
    }
  }
}*/

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 710px;
  }
  .header__wrap_group {
    width: 80%;
  }
  .button-reserve {
    margin-right: 20%;
  }
  .header__title {
    top: 100px;
    width: 182px;
    h1 {
      font-size: 2.4rem;
      text-align: left;
      line-height: 25px;
      width: auto;
    }
    p {
      font-size: 1.2rem;
      margin-top: 0;
    }
  }
  .hide__txt {
    display: none;
  }
  .header__bottom {
    background-color: transparent;
    height: auto;
    top: 20%;
    opacity: 1;
    //z-index: 1;
  }

  .header__bottom_change {
    padding-top: 15%;
  }
  .book__room {
    height: 100%;
    align-items: flex-end;
  }
  .form {
    //width: 67%;
    max-width: 330px;
  }
  .form__title h3 {
    display: none;
  }

  .header__bottom form input, .header__bottom form select {
    margin-bottom: 15px;
    width: 100%;
    height: 82px;
    position: relative;
    font-size: 2.4rem;
  }

  .header__bottom .bout img,
  .header__bottom .departure img {
    width: 36px;
    height: 38px;
    position: absolute;
    right: 9%;
    bottom: 32%;
    z-index: 2;
  }
  .header__bottom .form svg {
    bottom: 43%;
    right: 11%;
    width: 21px;
    height: 22px;
  }
  .submit {
    border: 1px solid $bg-color3;
  }
  .popup_form{
    width: 190px;
    .form_control {
      position: relative;
      width: 190px;
      margin: auto;
    }
    form input, form select {
      margin-bottom: 10px;
      width: 190px;
      height: 47px;
      position: relative;
      font-size: 1.4rem;
    }

    .bout img {
      width: 21px;
      height: 22px;
      bottom: 43%;
      right: 7%;
    }
    .departure img {
      width: 21px;
      height: 22px;
      bottom: 43%;
      right: 7%;
    }
    .form svg {
      bottom: 43%;
      right: 7%;
      width: 21px;
      height: 22px;
    }
  }
  .sl {
    height: auto;
    overflow: visible;
    padding: 0;
  }
  .sl .sl__img {
    width: auto;
  }
  .sl .slick-dots {
    bottom: 65%;
    left: 4%;
    width: 70px;
    z-index: 5;
  }
  .sl .slick-dots li.slick-active {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li {
    width: 7px;
    height: 7px;
  }
  .sl .slick-dots li button {
    width: 7px;
    height: 7px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__wrap_group {
    width: 80%;
  }
  .button-reserve {
    margin-right: 20%;
  }
  .header__title {
    top: 100px;
    width: 182px;
    h1 {
      font-size: 2.4rem;
      text-align: left;
      line-height: 25px;
      width: auto;
    }
    p {
      font-size: 1.2rem;
      margin-top: 0;
    }
  }
  .header__bottom {
    background-color: transparent;
    height: auto;
    top: 20%;
    opacity: 1;
    //z-index: 1;
  }
  .header__bottom_change {
    margin-top: 15%;
  }
  .book__room {
    height: 100%;
    align-items: flex-end;
  }
  .form {
    //width: 67%;
    max-width: 330px;
  }
  .form__title h3 {
    display: none;
  }

  .header__bottom form input, .header__bottom form select {
    margin-bottom: 15px;
    width: 100%;
    height: 82px;
    position: relative;
    font-size: 2.4rem;
  }

  .header__bottom .bout img,
  .header__bottom .departure img {
    width: 36px;
    height: 38px;
    position: absolute;
    right: 9%;
    bottom: 32%;
    z-index: 2;
  }
  .header__bottom .form svg {
    bottom: 43%;
    right: 11%;
    width: 21px;
    height: 22px;
  }
  .submit {
    border: 1px solid $bg-color3;
  }
  .popup_form{
    width: 190px;
    .form_control {
      position: relative;
      width: 190px;
      margin: auto;
    }
    form input, form select {
      margin-bottom: 10px;
      width: 190px;
      height: 47px;
      position: relative;
      font-size: 1.4rem;
    }

    .bout img {
      width: 21px;
      height: 22px;
      bottom: 43%;
      right: 7%;
    }
    .departure img {
      width: 21px;
      height: 22px;
      bottom: 43%;
      right: 7%;
    }
    .form svg {
      bottom: 43%;
      right: 7%;
      width: 21px;
      height: 22px;
    }
  }
  .sl {
    height: auto;
    overflow: visible;
    padding: 0;
  }
  .sl .sl__img {
    width: auto;
  }
  .sl .slick-dots {
    bottom: 65%;
    left: 15%;
    width: 70px;
    z-index: 5;
  }
  .sl .slick-dots li.slick-active {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
  }
  .sl .slick-dots li {
    width: 7px;
    height: 7px;
  }
  .sl .slick-dots li button {
    width: 7px;
    height: 7px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header__title {
    top: 110px;
  }
  .menu__item:nth-child(2) {
    width: 101px;
  }
  .menu__link {

  }
  .header__title {
    left: 50px;
  }
  .menu__item {
    padding-left: 15px;
  }
  .menu__link {
    font-size: 1.6rem;
  }
  .header__bottom {
    height: auto;
    bottom: 0%;
    //padding: 0;
  }
  form input, form select {
    margin-bottom: 20px;
  }
  .bout img, .departure img {
    bottom: 50%;
  }
  .form svg {
    bottom: 58%;
  }
  .book__room {
    height: 100%;
  }
  .sliders {
    height: 768px;
  }
  .sl {
    height: auto;
  }
  .sl .sl__img {
    width: 100%;
    height: 768px;
  }
  .sl .slick-dots {
    left: 10%;
    bottom: 40%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1366px) {
  .sl {
    height: auto;
  }
  .hide__txt {
    display: block;
  }
  .header__bottom {
    height: auto;
    bottom: 0%;
  }
  .sl .slick-dots {
    left: 10%;
    bottom: 40%;
  }
}