/*
================================================================================
|                                     ROOMS                                   |
================================================================================
*/
.rooms {
  margin-bottom: -100px;
}
.room__overlay{
  background: url("../img/roombg.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: 20s animatedBackgroundRooms infinite linear alternate;
}
@keyframes animatedBackgroundRooms {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 40%;
  }
}
.content {
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.rooms figure {
  position: relative;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.18);
  background: $bg-color;
  overflow: hidden;
}
.rooms figure:hover img {
  transform: scale(1.2);
  opacity: .5;
}
.rooms figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 62px;
  background: $bg-color2;
  color: $text-color2;
  font-size: 3rem;
  text-align: center;
}

.content__top {
  position: relative;
  .header__title {
    position: absolute;
    top: 400px;
    width: 100%;
    z-index: 2;
    span {
      margin-left: 40px;
      color: $text-color;
      font-size: 5.9rem;
    }
  }
}
.sl__rooms{
  //height: 920px;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .content__top .header__title{
    margin-top: -200px;
    span{
      font-size:2.9rem;
      margin-left: 0;
    }
  }
  .rooms figure{
    margin-bottom: 50px;
  }
  .sl__rooms .sl__img{
    width:auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .content__top .header__title{
    margin-top: -300px;
    span{
      font-size:2.9rem;
      margin-left: 0;
    }
  }
  .rooms figure{
    margin-bottom: 50px;
  }
  .sl__rooms .sl__img{
    width:auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .content__top .header__title{
    margin-top: -300px;
    span{
      font-size:2.9rem;
      margin-left: 0;
    }
  }
  .rooms figure{
    margin-bottom: 50px;
  }
  .sl__rooms .sl__img{
    width:auto;
  }
  .rooms .column{
    max-width: 30%;
  }
  .rooms{
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .rooms .column{
    max-width: 31%;
  }
  .rooms{
    margin-bottom: 0;
  }
  .content__top .header__title{
    left: 0;
  }
}