/*
================================================================================
|                                     ROOMS 1                                  |
================================================================================
*/
.standard__room{
  margin-top: 20px;
  margin-bottom: -80px;
}
.room__standard {
  background-color: rgba(27, 94, 32, .64);
  width: 100%;
}
.room1__overlay{
  background: url("../img/room1bg.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: 40s animatedBackgroundRoom1 infinite linear alternate;
}
@keyframes animatedBackgroundRoom1 {
  0% {
    background-position: 50% 16%;
  }
  100% {
    background-position: 50% 85%;
  }
}
.room__standard .header__bottom{
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  @include transition(.5s);
  z-index: 555;
  background-color: #6e9871;
}

.sl__standard{
  height: 670px;
  overflow: hidden;
}
.sl__standard .slick-slide img {
  width: 80%;
  margin-left: 115px;
}

.sl__standard .slick-dots {
  display: flex;
  flex-direction: column;
  height: 670px;
  bottom: 0;
  justify-content: space-between;
  width: 106px;
  left: 0;
  z-index: 5;
}

.sl__standard .slick-dots li {
  width: 100px;
  height: 155px;
  margin: 0px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
}

.sl__standard .slick-dots li button {
  width: 100px;
  height: 155px;

}

.sl__standard .slick-dots li button:before {
  z-index: 9999;
  content: '';
  background: url("../img/xs-sl.png");
  width: 100px;
  height: 155px;
  display: block;
  overflow: hidden;
}
.box__text {
  padding-left: 30px;
  color: $text-color2;
  h3 {
    color: $text-color2;
    font-size: 2.6rem;
    margin-bottom: 30px;
  }
  p {
    font-size: 2rem;
    line-height: 24px;
  }
  span {
    display: block;
    font-size: 2.4rem;
    margin: 20px 0 30px 0;
  }
  li {
    font-size: 2rem;
    line-height: 20px;
  }
  ul li:before {
    content: "-";
    position: relative;
    left: -5px;
  }
  .each__room {
    margin-bottom: 35px;
  }
  .room__cost li {
    margin-bottom: 30px;
  }
}


@media screen and (min-width: 320px) and (max-width: 479px) {
  .sl__standard{
    height: auto;
  }
  .sl__standard .slick-slide img{
    width: 100%;
    margin-left: 0;
  }
  .box__text {
    h3 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.8rem;
    }
    span {
      font-size: 2rem;
    }
    li {
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .box__text {
    h3 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.8rem;
    }
    span {
      font-size: 2rem;
    }
    li {
      font-size: 1.8rem;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}