/*
================================================================================
|                                     Treatment                                  |
================================================================================
*/
.treatment{
  margin-top: 30px;
  img{
    width: 100%;
    height: auto;
  }
  .treatment__text{
    padding: 70px 20px;
    color: $text-color2;
    font-size: 20px;
    line-height: 22px;
  }
}